*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.cart-page-count{
    width: 40%;
}
.cart-page::-webkit-scrollbar{
width: 0;
}
.cart-page{
    transition: 0.5s ease;
    background-color: #eeeee6;
    transform: translateX(100%);
}
.close-btn:hover{
    cursor: pointer;
    color: red;
}